<!DOCTYPE html><!-- HTML5 -->
<html prefix="og: http://ogp.me/ns#" lang="es-ES" dir="ltr">

<head>
    <title>Escuela Especial Anakena La Florida Santiago</title>
    <meta charset="utf-8" />
    
    

    <link rel="stylesheet" href="/static/css/style.css?16-3-1-1" media="screen,print" />
    <link rel="stylesheet" href="/static/css/template.css?16-3-1-1" media="screen" />
    <link rel="stylesheet" href="/static/css/index.css?16-3-1-1-636948398823292359" media="screen,print" />


</head>

<body>
    <div id="imPageExtContainer">
        <div id="imPageIntContainer">
            <div id="imHeaderBg"></div>
            <div id="imFooterBg"></div>
            <div id="imPage">
                <header id="imHeader">
                    <h1 class="imHidden">Escuela Especial Anakena La Florida Santiago</h1>
                    <div id="imHeaderObjects">
                        <div id="imHeader_imObjectImage_01_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_1" class="">
                                <div id="imHeader_imCellStyleGraphics_1"></div>
                                <div id="imHeader_imCellStyle_1"><img id="imHeader_imObjectImage_01"
                                        src="/static/images/Logo-Anakena1.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                        <div id="imHeader_imObjectTitle_02_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_2" class="">
                                <div id="imHeader_imCellStyleGraphics_2"></div>
                                <div id="imHeader_imCellStyle_2">
                                    <div id="imHeader_imObjectTitle_02"><span
                                            id="imHeader_imObjectTitle_02_text">Escuela Especial ANAKENA</span> </div>
                                </div>
                            </div>
                        </div>

                        <div id="imHeader_imMenuObject_04_wrapper" class="template-object-wrapper">

                            <div id="imHeader_imCell_4" class="">
                                
                                    <div id="imHeader_imMenuObject_04">


                                        <ul class="menu-mobile-animated hidden">

                                            <li class="imMnMnFirst imPage" >
                                                <div class="label-wrapper">
                                                    <div class="label-inner-wrapper">
                                                        <a class="label" href="index.html">
                                                            DECRETO 1 </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="imMnMnMiddle imPage">
                                                <div class="label-wrapper">
                                                    <div class="label-inner-wrapper">
                                                        <a class="label" href="index.html">
                                                            DECRETO 2 </a>
                                                    </div>
                                                </div>  
                                            </li>

                                        </ul>

                                    </div>


                                    <script>
                                       
                                        $(function () { 
                                            $('#imHeader_imMenuObject_04 ul li').not('.imMnMnSeparator').each(function () { 
                                                var $this = $(this), timeout = 0;
                                                $this.on('mouseenter', function () {
                                                    if ($(this).parents('#imHeader_imMenuObject_04-menu-opened').length > 0) return; 
                                                    clearTimeout(timeout); 
                                                    setTimeout(function () {$this.children('ul, .multiple-column').stop(false, false).fadeOut(); 
                                                        }, 250); 
                                                        }).on('mouseleave', function () {
                                                            if ($(this).parents('#imHeader_imMenuObject_04-menu-opened').length > 0) return;
                                                            timeout = setTimeout(function () {
                                                                $this.children('ul, .multiple-column').stop(false, false).fadeOut();
                                                                }, 250); 
                                                                });
                                                                }); 
                                                                });

                                    </script>
                                
                            </div>

                        </div>

                        <div id="imHeader_imObjectImage_07_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_7" class="">
                                <div id="imHeader_imCellStyleGraphics_7"></div>
                                <div id="imHeader_imCellStyle_7"><img id="imHeader_imObjectImage_07"
                                        src="/static/images/membrete.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </header>

            </div>
        </div>


</body>

</html>