<fieldset>
        <h1 style="font-size:14px; font-weight:500; padding-bottom:5px;">Datos Personales</h1>
        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <input id="N_Rut" name="N_Rut" type="text" placeholder="Rut" maxlength="12" value="">
                    <input id="buic_rutdv" name="buic_rutdv" type="hidden" value="">
                    <input type="hidden" class="text" name="dig_real" id="dig_real" size="5" maxlength="1" value="">
                    <input name="Rut_sinpuntos" id="Rut_sinpuntos" value="" type="hidden">
                </label>
                <span class="msg">
                </span>
            </section>
            <section class="col col-6">
                <label class="input">
                    <input name="nombres_al" id="nombres_al" type="text" placeholder="Nombre" value="">
                </label>
                <span class="msg">
                </span>
            </section>
        </div>
    
        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <!--<i class="icon-append icon-envelope-alt"></i>-->
                    <input type="text" name="apellidop" id="apellidop" placeholder="Apellido Paterno" value="">
                </label>
                <span class="msg">
                </span>
            </section>
            <section class="col col-6">
                <label class="input">
                    <!--<i class="icon-append icon-phone"></i>-->
                    <input type="text" name="apellidom" id="apellidom" placeholder="Apellido Materno" value="">
                </label>
                <span class="msg">
                </span>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
    
                <label class="select">
                    <select name="sexo" id="sexo">
                        <option value="0" selected="" disabled="">Sexo
                        </option>
                        <option value="F">FEMENINO</option>
                        <option value="M">MASCULINO</option>
                    </select>
                    <i></i>
                </label>
                <span class="msg">
                </span>
            </section>
            <section class="col col-6">
                <label class="input">
                    <i class="icon-append icon-calendar"></i>
                    <input type="text" id="fecha_nac" name="fecha_nac" placeholder="Fecha de Nacimiento" readonly=""
                        value="" class="hasDatepicker" size="10">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
    
    
                <label class="select">
                    <select name="estado_civil" id="estado_civil">
                        <option value="0" selected="" disabled="">Estado Civil
                        </option>
                        <option value="CASADO">CASADO</option>
                        <option value="DIVORCIADO">DIVORCIADO</option>
                        <option value="OTRO">OTRO</option>
                        <option value="SEPARADO">SEPARADO</option>
                        <option value="SOLTERO">SOLTERO</option>
                        <option value="VIUDO">VIUDO</option>
                    </select>
                    <i></i>
                </label>
                <span class="msg">
                </span>
            </section>
            <section class="col col-6">
    
                <label class="select">
                    <select name="nacionalidad" id="nacionalidad">
                        <option value="Argentina">Argentina</option>
                        <option value="Uruguayo">Uruguayo</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Chile">Chile</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Venezuela">Venezuela</option>n>
                    </select>
                    <i></i>
                </label>
            </section>
        </div>
    </fieldset>
s    