{% extends "base.html" %}
{% block content %}
                <form action="/nuevaficha"  method="post">  
                    <input type="submit" value="AGREGAR" style="background-color: red"></input>
                </form>
                <table rules="rows" style="width:779px;" align="center" cellspacing="0" border="1">
                        <tbody>
                            <tr style="color:White;background-color:#0B72B5;font-family:#ff9108;" valign="middle"
                                align="center">
                                <th scope="col">Alumno</th>
                                <th scope="col">Rut</th>
                                <th scope="col" style="width:100px;" align="center">Estado</th>
                                <th scope="col" style="width:50px;" valign="middle" align="center">Operaciones</th>

                                    {% for i in valor%}
                                    <ul>
                                    <tr class="StyleSheet" style="font-weight:bold;">
                                        <td style="width:200px;" align="left">{{i[0]}}</td>
                                        <td style="width:100px;" align="left">{{i[1]}}</td>
                                        <td style="width:100px;" align="center">{{i[2]}}</td>
                                        <td style="width:250px;" valign="middle" align="center">
                                        <form action="/ver_ficha"  method="post">
                                            <input type="hidden" name="key" value={{i[1]}}></input>
                                            <input type="submit" value="VER" style="background-color: blue"></input>
                                        </form>
                                        </td>
                                            
                                            
                                    </tr>
                                    </ul>


                                    {% endfor %}

                                


                        </tbody>
                    </table>
                    
                    <form action="/index" method="get">
                        <input type="submit" value="volver" style="background-color: rgb(255, 123, 0)"></input>
                    </form>
{% endblock %}
            
        
    

