<!DOCTYPE html><!-- HTML5 -->
<html prefix="og: http://ogp.me/ns#" lang="es-ES" dir="ltr">

<head>
    <title>Escuela Especial Anakena La Florida Santiago</title>
    <meta charset="utf-8" />



    <link rel="stylesheet" href="/static/css/style.css?16-3-1-1" media="screen,print" />
    <link rel="stylesheet" href="/static/css/template.css?16-3-1-1" media="screen" />
    <link rel="stylesheet" href="/static/css/index.css?16-3-1-1-636948398823292359" media="screen,print" />
    
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
    
</head>

<body>
    <div id="imPageExtContainer">
        <div id="imPageIntContainer">
            <div id="imHeaderBg"></div>
            <div id="imFooterBg">

            </div>
            <div id="imPage">
                <header id="imHeader">
                    <h1 class="imHidden">Escuela Especial Anakena La Florida Santiago</h1>
                    <div id="imHeaderObjects">
                        <div id="imHeader_imObjectImage_01_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_1" class="">
                                <div id="imHeader_imCellStyleGraphics_1"></div>
                                <div id="imHeader_imCellStyle_1"><img id="imHeader_imObjectImage_01"
                                        src="/static/images/Logo-Anakena1.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                        <div id="imHeader_imObjectTitle_02_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_2" class="">
                                <div id="imHeader_imCellStyleGraphics_2"></div>
                                <div id="imHeader_imCellStyle_2">
                                    <div id="imHeader_imObjectTitle_02"><span
                                            id="imHeader_imObjectTitle_02_text">Escuela Especial ANAKENA</span> </div>
                                </div>
                            </div>
                        </div>



                        <div id="imHeader_imObjectImage_07_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_7" class="">
                                <div id="imHeader_imCellStyleGraphics_7"></div>
                                <div id="imHeader_imCellStyle_7"><img id="imHeader_imObjectImage_07"
                                        src="/static/images/membrete.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </header>

                <div id="imContentContainer">
                    <div id="imContentGraphics"></div>
                    <main id="imContent">
                        <a id="imGoToCont"></a>
                        <div id="imGroup_1" class="imVGroup">
                            <div id="imPageRow_2" class="imPageRow">

                                <div id="imPageRowContent_2" class="imContentDataContainer">
                                    <div id="imGroup_2" class="imHGroup">
                                            <h3>FICHA RECHAZADA!!!</h3>
                                            <form action="/lista_alumnos" method="post">
                                                <input type="hidden" name="curso" value={{curso}}>
                                                <input type="hidden" name="decreto" value={{decreto}}>
                                                <input type="submit" value="volver" style="background-color: rgb(255, 123, 0)"></input>
                                            </form>
                                       
                                    </div>
                                </div>
                            </div>

                            <div id="imPageRow_7" class="imPageRow">
                                <div
                                    style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;">
                                    <div id="imPageRowGraphics_7"></div>
                                </div>
                                <div id="imPageRowContent_7" class="imContentDataContainer">
                                    <div id="imGroup_3" class="imHGroup">
                                        <div id="imCell_6" class="">
                                            <div id="imCellStyleGraphics_6"></div>
                                            <div id="imCellStyle_6" data-responsive-sequence-number="8">
                                                <div id="imTextObject_06">
                                                    <div class="text-tab-content" id="imTextObject_06_tab0" style="">
                                                        <div class="text-inner">
                                                            <div class="imTARight"><span
                                                                    class="fs11lh1-5 cf1">Teléfonos:
                                                                    222 819 713 / +569
                                                                    5008 0630</span></div>
                                                            <div class="imTARight"><span class="fs11lh1-5"><span
                                                                        class="cf1">Dirección: Los Pioneros 0291 -
                                                                        Horarios de atención: 9:00 a 17:00
                                                                        hrs.</span><br></span></div>
                                                            <div class="imTACenter">
                                                                <div class="imTARight"><span
                                                                        class="fs11lh1-5 cf1">Correo:
                                                                        colegioanakena@hotmail.com</span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="imCell_9" class="">
                                            <div id="imCellStyleGraphics_9"></div>
                                            <div id="imCellStyle_9" data-responsive-sequence-number="9">
                                                <div id="imTextObject_09">
                                                    <div class="text-tab-content" id="imTextObject_09_tab0" style="">
                                                        <div class="text-inner">
                                                            <div><img class="image-0" src="/static/images/membrete.jpg"
                                                                    title="" alt=""><br></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
                <div class="imClear"></div>
                </main>
            </div>


        </div>

    </div>


</body>

</html>