<!DOCTYPE html><!-- HTML5 -->
<html prefix="og: http://ogp.me/ns#" lang="es-ES" dir="ltr">

<head>
    <title>Escuela Especial Anakena La Florida Santiago</title>
    <meta charset="utf-8" />



    <link rel="stylesheet" href="/static/css/style.css?16-3-1-1" media="screen,print" />
    <link rel="stylesheet" href="/static/css/template.css?16-3-1-1" media="screen" />
    <link rel="stylesheet" href="/static/css/index.css?16-3-1-1-636948398823292359" media="screen,print" />
    
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
    
</head>

<body>
    <div id="imPageExtContainer">
        <div id="imPageIntContainer">
            <div id="imHeaderBg"></div>
            <div id="imFooterBg">
            </div>
            <div id="imPage">
                <header id="imHeader">
                    <h1 class="imHidden">Escuela Especial Anakena La Florida Santiago</h1>
                    <div id="imHeaderObjects">
                        <div id="imHeader_imObjectImage_01_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_1" class="">
                                <div id="imHeader_imCellStyleGraphics_1"></div>
                                <div id="imHeader_imCellStyle_1"><img id="imHeader_imObjectImage_01"
                                        src="/static/images/Logo-Anakena1.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                        <div id="imHeader_imObjectTitle_02_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_2" class="">
                                <div id="imHeader_imCellStyleGraphics_2"></div>
                                <div id="imHeader_imCellStyle_2">
                                    <div id="imHeader_imObjectTitle_02"><span
                                            id="imHeader_imObjectTitle_02_text">Escuela Especial ANAKENA</span> </div>
                                </div>
                            </div>
                        </div>



                        <div id="imHeader_imObjectImage_07_wrapper" class="template-object-wrapper">
                            <div id="imHeader_imCell_7" class="">
                                <div id="imHeader_imCellStyleGraphics_7"></div>
                                <div id="imHeader_imCellStyle_7"><img id="imHeader_imObjectImage_07"
                                        src="/static/images/membrete.jpg" title="" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </header>
                <div id="imContentContainer">
                    <div id="imContentGraphics"></div>
                    <main id="imContent">
                        <a id="imGoToCont"></a>
                        <div id="imGroup_1" class="imVGroup">

                            <div id="imPageRow_2" class="imPageRow">
                                <div id="imPageRowContent_2" class="imContentDataContainer">
                                    <div id="imGroup_2" class="imHGroup">

                                            <h3>FICHA MATRÍCULA</h3>
                                            <div class="container">
                                            {% block content %}     
                                            <h2>IDENTIFICACÍON ESTUDIANTE DECRETO: {{decreto}} CURSO: {{curso}}</h2>
                                              <form action="/ficha_revision" method="post">
                                                <label for="fname">Primer Nombre </label>
                                                <input type="text" id="fname" name="Pnombre" placeholder={{jason["Primer Nombre"]}} >
                                                <label for="fname">Segundo Nombre </label>
                                                <input type="text" id="fname" name="Snombre" placeholder={{jason["Segundo Nombre"]}} >
                                                <label for="fname">Apellido Padre </label>
                                                <input type="text" id="fname" name="apellidoP" placeholder={{jason["Apellido Padre"]}} >
                                                <label for="fname">Apellido Madre </label>
                                                <input type="text" id="fname" name="apellidoM" placeholder={{jason["Apellido Madre"]}} >
                                                <label for="fname">Edad </label>
                                                <input type="number" min="5" max="20" id="fname" name="edad" placeholder={{jason["Edad"]}} >
                                                <label for="fname">Fecha de nacimiento </label>
                                                <input type="date" id="fname" name="nacimientoF" placeholder={{jason["Fecha de nacimiento"]}} >
                                                <label for="fname">Nacionalidad </label>
                                                <input type="text" id="fname" name="nacional" placeholder={{jason["Nacionalidad"]}} >
                                                <label for="fname">RUT Alumno (sin digito verificador)</label>
                                                <input type="number" min="5" max="20" id="fname" name="rut" placeholder={{jason["RUT Alumno"]}} >
                                                <label for="fname">Digito Verificador</label>
                                                <input type="text" id="fname" name="dig" placeholder={{jason["Digito Verificador"]}} >
                                                <label for|="fname">Domicilio</label>
                                                <input type="text" id="fname" name="dom" placeholder={{jason["Domicilio"]}} >
                                                <label for="fname">Comuna</label>
                                                <input type="text" id="fname" name="com" placeholder={{jason["Comuna"]}} >

                                                    <h2>ANTECEDENTES FAMILIARES PADRE</h2>

                                                <label for="fname">Nombre del padre</label>
                                                <input type="text" id="fname" name="nombrePadre" placeholder={{jason["Nombre del padre"]}} >  
                                                <label for="fname">Nacionalidad</label>
                                                <input type="text" id="fname" name="nacionalPadre" placeholder={{jason["Nacionalidad"]}} > 
                                                <label for="fname">RUT Padre (con digito verificador)</label>
                                                <input type="text" id="fname" name="rutPadre" placeholder={{jason["RUT Padre"]}} >
                                                <label for="fname">Edad </label>
                                                <input type="number" min="5" max="20" id="fname" name="edadPadre" placeholder={{jason["Edad"]}} >
                                                <label for="fname">Celular </label>
                                                <input type="text" id="fname" name="celPadre" placeholder={{jason["Celular"]}} >
                                                <label for="fname">Correo </label>
                                                <input type="text" id="fname" name="corPadre" placeholder={{jason["Correo"]}} >
                                                
                                                    <h2>ANTECEDENTES FAMILIARES MADRE</h2>

                                                <label for="fname">Nombre de la Madre</label>
                                                <input type="text" id="fname" name="nombreMadre" placeholder={{jason["Nombre de la Madre"]}} >
                                                <label for="fname">Nacionalidad</label>
                                                <input type="text" id="fname" name="nacionalMadre" placeholder={{jason["Nacionalidad"]}} >
                                                <label for="fname">RUT Madre (con digito verificador)</label>
                                                <input type="text" id="fname" name="rutMadre" placeholder={{jason["RUT Madre"]}} >
                                                <label for="fname">Edad </label>
                                                <input type="number" min="5" max="20" id="fname" name="edadMadre" placeholder={{jason["Edad"]}} >
                                                <label for="fname">Celular </label>
                                                <input type="text" id="fname" name="celMadre" placeholder={{jason["Celular"]}} >
                                                <label for="fname">Correo </label>
                                                <input type="text" id="fname" name="corMadre" placeholder={{jason["Correo"]}} >

                                                    <h2>CONTACTO EMERGENCIAS</h2>
                                                    
                                                <label for="fname">Antecedentes Medicos Importantes </label>
                                                <textarea name="anteceMed" placeholder={{jason["Antecedentes Medicos Importantes"]}} rows="10" cols="30" ></textarea> 
                                                <label for="fname">Fono de emergencias </label>
                                                <input type="text" id="fname" name="celEmerg" placeholder={{jason["Fono de emergencias"]}}  >
                                                <label for="fname">Nombre Apoderado</label>
                                                <input type="text" id="fname" name="ApodEme" placeholder={{jason["Nombre Apoderado"]}} >
                                                <label for="fname">Salud</label>
                                                <input type="text" id="fname" name="salud" placeholder={{jason["Servicio de Salud del Estudiante"]}} >
                                                <label for="fname">Seguro Medico</label>
                                                <input type="text" id="fname" name="seguro" placeholder={{jason["Seguro Medico"]}} >
                                                <input type="hidden" name="decreto" value={{decreto}}>
                                                <input type="hidden" name="curso" value={{curso}}>
                                                <input type="submit" value="Reparar" style="background-color: rgb(255, 123, 0)"></input>
                                                </form>

                                            {% endblock %}

                                            </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <div id="imPageRow_7" class="imPageRow">
                                <div
                                    style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;">
                                    <div id="imPageRowGraphics_7"></div>
                                </div>
                                <div id="imPageRowContent_7" class="imContentDataContainer">
                                    <div id="imGroup_3" class="imHGroup">
                                        <div id="imCell_6" class="">
                                            <div id="imCellStyleGraphics_6"></div>
                                            <div id="imCellStyle_6" data-responsive-sequence-number="8">
                                                <div id="imTextObject_06">
                                                    <div class="text-tab-content" id="imTextObject_06_tab0" style="">
                                                        <div class="text-inner">
                                                            <div class="imTARight"><span
                                                                    class="fs11lh1-5 cf1">Teléfonos:
                                                                    222 819 713 / +569
                                                                    5008 0630</span></div>
                                                            <div class="imTARight"><span class="fs11lh1-5"><span
                                                                        class="cf1">Dirección: Los Pioneros 0291 -
                                                                        Horarios de atención: 9:00 a 17:00
                                                                        hrs.</span><br></span></div>
                                                            <div class="imTACenter">
                                                                <div class="imTARight"><span
                                                                        class="fs11lh1-5 cf1">Correo:
                                                                        colegioanakena@hotmail.com</span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="imCell_9" class="">
                                            <div id="imCellStyleGraphics_9"></div>
                                            <div id="imCellStyle_9" data-responsive-sequence-number="9">
                                                <div id="imTextObject_09">
                                                    <div class="text-tab-content" id="imTextObject_09_tab0" style="">
                                                        <div class="text-inner">
                                                            <div><img class="image-0" src="/static/images/membrete.jpg"
                                                                    title="" alt=""><br></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="imClear"></div>
                </main>
            </div>


        </div>

    </div>


</body>

</html>